body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	margin-top: 2rem;
}

.team-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	padding: 20px;
}

.team-member {
	width: 300px;
	border: 1px solid #ddd;
	margin: 10px;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.team-member h3 {
	margin: 0;
	font-size: 1.2rem;
}

.mentor-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.main-box  {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.mentor-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.mentor-card {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	background-color: #fff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	margin: 2rem;
}

@media (max-width: 768px) {
	.mentor-card {
		width: 100%;
		height: 100%;
	}
}

.mentor-card img {
	width: 100%;
	height: 100%;
}

.box {
	height: 4rem;
	background-color: white;
	border-radius: 0.75rem;
	margin: 1rem 0 1.75rem 0;
	padding: 0.5rem 1.25rem;
	border: 1px solid black;
}

.box-name {
	font-size: 1rem;
	font-weight: 500;
}

.box-role {
	font-size: 0.85rem;
	opacity: 0.9;
}

h2 {
	text-align: left;
	margin-left: 5rem;
	margin-top: 2rem;
}

.Advisor-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.Advisor-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

/* .Advisor-card {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	background-color: #fff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	margin: 2rem;
  display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
} */

@media (max-width: 768px) {
	.mentor-card {
		width: 100%;
		height: 100%;
	}
}

.Advisor-card img {
	width: 100%;
	height: 100%;
	fit: cover;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
}

.line {
	border-top: 1px solid black;
	width: 90%;
	height: 30%;
}

hr{
	border-top: 1px solid black;
	width: 90%;
}